# jQuery CDN JS
jquery.js="https://code.jquery.com/jquery-3.1.0.js"

# Data Table JS
datatable.js="https://cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js"

# jQuery Data Table JS
jqdatatable.js="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.js"

# Internet connection check, this will decide whether to use CDN or not.
# timeout in seconds.
# HTTP method allowed (Use only GET or HEAD)
check.url=http://nfl.com
url.timeout=900
request.method=HEAD

# The main JavaScript file where the JSON data is stored.
javascript.file=configuration/js/main.js

# Font Awesome CDN CSS
fontawesome.css="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"

# jQuery Data Table CSS
jqdatatable.css="https://nightly.datatables.net/css/jquery.dataTables.css"

#end_html.config.